* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.container{
height: 900px;
 width: 50%;
 /* border: 2px solid red; */
 margin: auto;
 margin-top: 10px;
 border-radius: 33px 33px 33px 33px;
 -webkit-border-radius: 33px 33px 33px 33px;
 -moz-border-radius: 33px 33px 33px 33px;
 background-color: #f7f7ff;
}


.div-titulo {
    background: linear-gradient(45deg, #5C1E55, #5038b0);
    height: 6em;
    text-align: center;
    border-radius: 33px 33px 33px 33px;
-webkit-border-radius: 33px 33px 0px 0px;
-moz-border-radius: 33px 33px 33px 33px;
}

.titulo {
  padding-top: 6px;
  font-size: 3.2em;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.87);

}

.div-contenedor {
  margin: auto;
  max-width: 600px;
  background-color: white;
}